* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f1faee;
}

h1 {
    color: #1d3557;
}

h2 {
    color: #457b9d;
}
